xterm*background:   black
xterm*foreground:   white
xterm*selectToClipboard: true
xterm*disallowedWindowOps: 20,21,SetXProp
Xterm*vt100.translations: #override \
        Shift Ctrl <Key> C: copy-selection(CLIPBOARD) \n\
        Shift CTRL <Key> V: insert-selection(CLIPBOARD)
